.int > p > img{
    width: 8em;
    height: 8em;
    margin: 1em;
}
.intro{
    font-weight: bolder;
}
body{
    font-size: 2em;
    font-family: sans-serif;
    background-color: grey;
}
.int{
    margin: 3em;
}
h1{
    text-decoration: underline;
    text-align: center;
}
.int > p {
    margin: 3em;
    display: flex;
    align-items: center;
}
.gta{
    background-color: burlywood;
}
.mgs{
    background-color: forestgreen;
}
.tlou {
    background-color: bisque;
}

.gow3{
    background-color: salmon;
}
.gow4{
    background-color:cornflowerblue;
}
.rdr2{
    background-color: rgb(189, 38, 38);
}